/* CSS Document */

body {
	background-color:#eeeeee;
}

.leftNav {
	margin:10px;
	font-family:"Courier New", Courier, monospace;

}

.leftNavLink {
	display:block;#000000
	text-decoration:none;
}

.PhotoCell {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	vertical-align:top;
}

.PhotoCell img{
	margin-bottom:15px;
	display:block;
}
